<div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">Hashtag Statistics</h1>
      <%= form_tag('/index', :method => :get) do %>
      <table align="center" >
      <tr>
          <td style ="font-weight:bold;padding-right:10px;">Percentage: <%=@percentage%>%</td>
          <td style ="font-weight:bold;padding-right:10px;">ID: <%=@user.username%></td>
          <td style ="font-weight:bold;padding-right:10px;">Followers: <%=@user.followers%></td>
          <td style ="font-weight:bold;padding-right:10px;">Level: <%=@user.level%></td>
          <td style ="font-weight:bold;padding-right:10px;">Score: <%=@user.score.round(2)%></td>
          <td style ="font-weight:bold;padding-right:20px;">Sum: <%=@user.sum%></td>
          <td style ="padding-right:15px;"> 
            <%= text_field_tag :percent, nil, placeholder: 'Enter a percentage...', class: "col-lg-12" %>
            <%= hidden_field_tag 'id', @id %>
          </td>
          <td style ="padding-right:15px;">
            <%= submit_tag "Submit", class: "btn btn-info"%>
          </td>
           <% end %>
          <td><%= button_to "Download", index_download_path(id: @id, percent: @percentage), class: 'btn btn-primary' %></td>
          <td><%= link_to "<button class='btn btn-primary'>View Percentage</button>".html_safe , percentage_path(id: @user.id) %></td>
      </tr>
      <tr>
          <td></td>
          <td style ="font-weight:bold;padding-right:10px;">RP: <%=(@user.repond_percentage)*100%>% </td>
          <td style ="font-weight:bold;padding-right:10px;">Respond Level: <%=@percentage_level%></td>
          <td style ="font-weight:bold;padding-right:10px;">All Responses: <%=@respond_times%></td>
          <td style ="font-weight:bold;padding-right:10px;">All Comments: <%=@all_comments%></td>  
      </tr>
      </table>
      <br>
    </div>
    <div class="col-lg-12 form-group">
      <table class="table">
        <thead>
          <th>Rank</th>
          <th>Hashtag</th>
          <th>Times used by User</th>
          <th>Times used by Global</th>
          <th>Value</th>
          <th>Availability</th>
        </thead>
        <tbody>
         <% for i in @hashtags %>
          <tr>
            <td><%=@hashtags.index(i)+1%></td>
            <td><%=i.hashtags%></td>
            <td><%=i.use_by_user%></td>
            <td><%=i.use_by_global%></td>
            <td><%= i.avai == "0" ? i.use_by_global*i.use_by_user : 0 %></td>
            <td><%=i.avai%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
