<style>
.pagination {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 40%;
    border: 1px solid grey;
    padding: 10px;
}
.pagination a {
    padding: 8px 16px;
}
</style>
<div class="container text-center">
    <div>
      <h2 class="title">Enter a Instagram Username</h2>
    </div>
    <div>
        <%= form_tag :action => "index" do %>
          <div class="form-group" >
            <%= text_field_tag :insta_url, nil, placeholder: 'Hint: hyejung_belle, katiejonesknit...', class: "col-lg-4" %>
          </div>
          <div class="text-center">
            <%= submit_tag "Add to List", class: "btn btn-info" %>
            <%= submit_tag "Submit", data: {confirm: 'Are you sure to continue ?'}, class: "btn btn-primary" %> 
          </div>
          <% end %>
    </div>
</div>

<div class="container">
  <%= form_tag('/', :method => :get) do %>
      <table>
          <td style ="padding-right:15px;"> 
            <%= text_field_tag :username, params[:username], placeholder: 'Enter an ID', class: "col-lg-12" %>
          </td>
          <td>
            <%= submit_tag "Search", class: "btn btn-info"%>
          </td>
           <% end %>
      </table>
    <hr>
    <table style="width:100%">
      <thead>
        <th>No</th>
        <th>Username</th>
        <th>Hashtag Level</th>
        <th>
        <div class="dropdown show">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hashtag Score
            </a>
            <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="<%= @urlNormal%>">Normal</a>
              <a class="dropdown-item" href="<%= @urlHh%>">Highest Average</a>
              <a class="dropdown-item" href="<%= @urlHl%>">Lowest Average</a>
            </div>
          </div>
        </th>
        <th>Respond Level</th>
        <th>
        <div class="dropdown show">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Respond Percentage
            </a>
            <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="<%= @urlNormal%>">Normal</a>
              <a class="dropdown-item" href="<%= @urlRh%>">Highest Average</a>
              <a class="dropdown-item" href="<%= @urlRl%>">Lowest Average</a>
            </div>
          </div>
        </th>
        <th>Date Start</th>
        <th>Date End</th>
      </thead>
      <tbody>
          <% @users.each do |user|%>
            <tr>
              <td><%=@users_all.index(user)+1%></td>
              <td><b><%= link_to "#{user.username}", index_path(id: user.id) %></b></td>
              <td align = "center"><%=user.level%></td>
              <td align = "center"><%=user.score%></td>
              <td align = "center"><%=
              case user.repond_percentage
                when 0..0.05
                     "C-"
                when 0.05..0.1
                     "C0"
                when 0.1..0.15
                     "C+"
                when 0.15..0.2
                      "B-"
                when 0.2..0.25
                      "B0"
                when 0.25..0.3
                      "B+"
                when 0.3..0.3333
                      "A-"
                when 0.3333..0.4
                      "A0"
                else
                      "A+"
                end
              
              %></td>
              <td align = "center"><%=(user.repond_percentage*100).round(3)%>%</td>
              <td><%=user.date_start%></td>
              <td><%=user.date_end%></td>
              <td style= "padding: 5px;"><%= button_to "Delete", root_path(id: user.id), data: {confirm: 'Are you sure to delete this account?'}, class:  'btn btn-danger'%></td>
            </tr>
              <%end%>
      </tbody>
    </table>
    <div>
      <%= paginate @users %>
    </div>
</div>
